<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="/">Renta Car</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Tüm Araçlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rentals">Kiralanmış Araçlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customers">Müşteriler</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ekleme ve Düzenleme İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/brand-operations">Brand</a></li>
            <li><a class="dropdown-item" href="/color-operations">Color</a></li>
            <li><a class="dropdown-item" href="/car-operations">Car</a></li>
          </ul>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Giriş Yap
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/login">Giriş Yap</a></li>
              <li><a class="dropdown-item" routerLink="/register">Üye Ol</a></li>
          </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>