<footer class="container-fluid bg-dark">
    <div class="row text-white">
        <div class="col-md-4 flex-column">
            <a class="nav-link text-reset" href="#">Active</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Disabled</a>
        </div>
        <div class="col-md-4 flex-column">
            <a class="nav-link text-reset" href="#">Active</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Disabled</a>
        </div>
        <div class="col-md-4 flex-column">
            <a class="nav-link text-reset" href="#">Active</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Link</a>
            <a class="nav-link text-reset" href="#">Disabled</a>
        </div>
    </div>

</footer>