<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Renkler</th>
        </tr>
        <input type="text" [(ngModel)]="filterColor" id="inputSearchColor" class="form-control" placeholder="Bir renk aratınız" >
    </thead>
    <tbody>
        <tr (click)="setSelectedColor(color)" routerLink = "/cars/color/{{color.name}}" *ngFor="let color of colors | filterColor:filterColor" [class]="getCurrentColorClass(color)">
            <td>{{color.name}}</td>
        </tr>
    </tbody>
</table>


