<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        <tr  routerLink = "/cars/{{carDetails.id}}" *ngFor="let carDetails of carsDetails">
            <td>{{carDetails.brandName}}</td>
            <td>{{carDetails.colorName}}</td>
            <td>{{carDetails.dailyPrice}}</td>
            <td>{{carDetails.carDetails}}</td>
        </tr>
    </tbody>
</table>
